import numpy as np

# Intro to Python

# Part 1 Data Types

In [10]:
#Assigning the variable 'v' the value 1
v = 1.1

In [11]:
v

1.1

In [12]:
#checking the data type of 'v'
type(v)

float

In [13]:
z = 'Hi TMF'
type(z)

str

## Numeric Operators

In [15]:
#mathematical operators
1+2
1-2

-1

In [16]:
print(1+2)
print(1-2)

3
-1

In [17]:
print(1*2)
print(1/2)

2
0.5

In [18]:
#quotient division (divide and round down to the nearest whole no)
print(3.0//2.0)

1.0

In [26]:
#squaring
print(3**2)
print (3**4) #raising to a power (exponent)
print(2**5)

9
81
32

In [25]:
#modulo (finds reminder)
print(5%2)

1

## Boolean Operators

In [22]:
x=2

In [27]:
x==2

True

In [28]:
type(true)

NameError: name 'true' is not defined

In [32]:
type(True)
type(False)

bool

SyntaxError: invalid syntax (<ipython-input-36-9d53c68bcf37>, line 1)

In [38]:
not False

True

In [40]:
print(True and False)
print(True or False)

False
True

In [41]:
a = 5
b = 3
a<b

False

In [42]:
# <less than 
# > greater than 
# <= less than or equal to
# >= greater than o equal to 
# == equal to
# != not equal to

In [43]:
2>1, 2<1, 2==2, 2!=3

(True, False, True, True)

In [45]:
[1,2] == [1,2], [1,2]!= [2,1]

(True, True)

In [47]:
[1,2] == [1,2] or [2,3]== [2,2]

True

## Strings

In [57]:
s1 = "Hello, hello TMF, aren't we having such fun"
type(s1)
print("Hello")
1+1

Hello

2

In [58]:
len (s1)

43

In [67]:
s2 = "Hello World World!"
s3 = s2.replace("World", "Test")
print(s3)

Hello Test Test!

## String Indexing

In [69]:
s4 = "Hi, give me a call at 077777777"

In [78]:
phone_Number= s4[22:] #python ses 0 based indexing!
s4[-10:]

' 077777777'

In [74]:
print(phone_Number)

077777777

In [80]:
s2[0:10:2] #print first 10 chars by skipping 2nd alphabet

'HloWr'

In [88]:
print(s2[:])
s2[::2]

Hello World World!

'HloWrdWrd'

## List Index

In [89]:
l1 = [1,2,3,4,'Hello',6,7,8,9] # list is a series of unordered mutable elements
l1[::2]

[1, 3, 'Hello', 7, 9]

In [90]:
l2 = [] #creates an empty list

In [91]:
type(l2)

list

In [92]:
# [] is a list
# () is a tuple
# {} is a dictionary
# ''/"" indicate a string

## Concatenating

In [93]:
s1 = "Hello "
s2 = "TMF"

s1+s2

'Hello TMF'

In [95]:
dice_roll = 3
print("you rolled a "+ str(dice_roll) + ".") # we can't concatenate a string & a integer. Similar to CAST, convertthe data type

you rolled a 3.

In [96]:
s5 = "Hello Team! Welcome to TMF Group!"
len(s5)

32

In [107]:
s6 = "Are you excited?"
s5+" "+s6

vowels = ["a","e","i","o","u"]

for c in s6:
if c in vowels:
        s6=s6.replace(c, "vowels")

IndentationError: expected an indented block (<ipython-input-107-6a65c4d8b52b>, line 7)

In [105]:
s7 = s6.replace("a", "e", "Vowel")

TypeError: 'str' object cannot be interpreted as an integer

In [108]:
s6 = "Are you excited?"

vowels = ["a","e","i","o","u"]

for c in s6:
if c in vowels:
        s6=s6.replace(c, "vowels")

IndentationError: expected an indented block (<ipython-input-108-762b4cbc1496>, line 6)

In [109]:
l3 = [1,2,3,4]
print(type(l3))

<class 'list'>

In [110]:
names = ["Joe", "Sally"]
print(names)

['Joe', 'Sally']

In [111]:
# methods are called with .replace()
# a new method called .append()

In [114]:
names.append ('Camila')
print(names)

['Joe', 'Sally', 'Camila', 'Camila', 'Camila']

In [117]:
names.remove('Camila')

In [118]:
names

['Joe', 'Sally']

In [119]:
print(names[1:3])

['Sally']

In [120]:
names[1][1:]

'ally'

In [121]:
allsorts = [1, 'a', 1.0, 1-1j]

In [122]:
allsorts

[1, 'a', 1.0, (1-1j)]

In [130]:
start = 10
stop = 30
step = 2

print(type(range(start, stop, step)))

l5 = list (range(start, stop, step))
l6 = list(range(10,30,2))
print(l5)
print(l6)
l6 == l5

<class 'range'>
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

True

In [131]:
names

['Joe', 'Sally']

In [138]:
names.insert(2,'Daniel')

In [146]:
names.remove('Daniel')

In [147]:
names

['Joe', 'Sally', 'Daniel']

In [148]:
names.insert(3,'Natalie')

In [150]:
names

['Joe', 'Sally', 'Daniel', 'Natalie']

In [153]:
p = [1,45,65,'hello', 'world']
p[-3:]

[65, 'hello', 'world']

In [158]:
p.insert(2, 'Hi')

In [165]:
p.remove (['Hi',22])

ValueError: list.remove(x): x not in list

In [166]:
p

[1, 45, 'Hi', 'Hi', 65, 'hello', 'world']

## Tuples

In [167]:
my_house = ("head", "Couches", "Churn")

In [168]:
type(my_house)

tuple

In [169]:
my_house [1]

'Couches'

## Dictionaries

In [174]:
params = {'key1':1.0,
         'key2': 2.0,
         'Key3': 3.0}

In [171]:
print(type(params))

<class 'dict'>

In [175]:
print(params)

{'key1': 1.0, 'key2': 2.0, 'Key3': 3.0}

In [176]:
params['key2']

2.0

In [177]:
params['key1']= 'A'

In [178]:
params

{'key1': 'A', 'key2': 2.0, 'Key3': 3.0}

In [180]:
variable_2 = params.items()

In [183]:
variable_2 = list(params.items()) #convert the keyvalue element into a tuple & then into a list

In [184]:
variable_2

[('key1', 'A'), ('key2', 2.0), ('Key3', 3.0)]

## Functions and Control Flow

### if and else statements

In [2]:
if 1 == 2:
    print('1 is equal to 1')

In [5]:
if 'one' == 'two':
    print("The string 'one' is equal to the string 'two'")
    
print('---------------------')
print('these two lines are not indented so they will always run')

---------------------
these two lines are not indented so they will always run

In [7]:
if 50 < 30:
    print("50<30")
else:
    print("50 is greater than 30")

50 is greater than 30

In [11]:
health = 0
if health >70:
    print('You are in great health! Well Done')
elif health >40:  #short for else if
        print('Your results are okay. Maybe book a checkup ')
elif health > 30:
        print('You really need a checkup. Book one for tomorrow')
elif    health>0:
        print('Go to hospital. Now!')
    
else:
    print('Come and see me about your health score')

Come and see me about your health score

## For loops

In [14]:
names = ['Sally', 'Rob', 'Joe', 'Camila', 'Natalie', 'Daniel']

for element in names:
    print(element + ' is awesome')
print(element + ' is awesome')

Sally is awesome
Rob is awesome
Joe is awesome
Camila is awesome
Natalie is awesome
Daniel is awesome
Daniel is awesome

In [17]:
for name in names:
    if name == 'Camila':
        print(name + ' is really awesome')
        
    else:
        print(name + ' is awesome')

Sally is awesome
Rob is awesome
Joe is awesome
Camila is really awesome
Natalie is awesome
Daniel is awesome

In [20]:
datacamp = ['python','anaconda','jupyter','method']
for n in datacamp:
    if n == 'python':
        print(n + ' is a programming language')
    elif n == 'anaconda':
        print(n + ' is a software to run python scripts')
        
    elif n == 'jupyter':
        print (n + ' is a terminal to run python scripts')
    else:
        print (n + ' is a method associated with an object')

python is a programming language
anaconda is a software to run python scripts
jupyter is a terminal to run python scripts
method is a method associated with an object

## try and except

In [21]:
1/0

ZeroDivisionError: division by zero

In [22]:
print ('a' - 'b')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
a =[1,2,3,0]

for num in a:
    try:
        print(1/num)
    except: #catch errors and do something 
        print('cannot divide by 0')

1.0
0.5
0.3333333333333333
cannot divide by 0

In [25]:
corrupted = ['!1', '23.1', '??12', '1000']

new_list = []

for num in corrupted:
    try:
        new_list.append(float(num))
        
    except:
        pass
new_list

[23.1, 1000.0]

In [26]:
#converting between datatypes


#str()
#float()
#list()
#dict()
#bool()

## while loops

In [27]:
x = 20
while x > 10:
    print('hello')
    x -= 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [28]:
x = 0
while x < 10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [29]:
status = True
password = 'password'
x=0
while status is True and x<3:
    try:
        num = input('Please enter a password')
        if num == password:
            print('Success')
            status = False
        else:
            print ('Wrong password')
    except:
        print ( 'WRONG PW')
        x-=1

Please enter a passwordSue
Wrong password
Please enter a passwordpassword
Success

## functions

In [30]:
def function_1(x):
    return x**2
function_1(2)

4

In [32]:
def arithmetic(n1,n2):
    print(n1+n2)
    print(n1-n2)
arithmetic(1,6)

7
-5

In [33]:
round(12.563785, 2)

12.56

In [35]:
#write a fuc that squares a numb and adds 5

def square_5(x):
    print(x*x+5)

square_5(5)

30

In [43]:
#write a func that takes a word & returns a vowel

def vowel_count(word):
    count = 0
    for letter in word:
        if letter in 'aeiou':
            count +=1
    print(count)
    #if vowel is in word we want to add that to count

In [44]:
vowel_count ('hello')

2

In [45]:

def vowel_count(word):
    count = 0
    for letter in word:
        if letter in 'aeiou':
            count +=1
    print('The number of vowels in WORD count is COUNT')
    #if vowel is in word we want to add that to count

In [46]:
vowel_count('hello')

The number of vowels in WORD count is COUNT

In [48]:

def vowel_count(word):
    count = 0
    for letter in word:
        if letter in 'aeiou':
            count +=1
    print('The number of vowels in {} is {}' .format(word, count))
    #if vowel is in word we want to add that to count
          
vowel_count('hello')

The number of vowels in hello is 2

In [55]:
sales_pounds = [300,400,500,600, 120, 340]
sales_dollars = []

for sale in sales_pounds:
    new_sale = sale * 1.25
    
    sales_dollars.append(new_sale)
print('list of sales in pounds:' +str(sales_pounds))
print('list of sales in dollars:' +str(sales_dollars))

list of sales in pounds:[300, 400, 500, 600, 120, 340]
list of sales in dollars:[375.0, 500.0, 625.0, 750.0, 150.0, 425.0]

## List Comprehensions

In [52]:
sales_dol = [sale *1.25 for sale in sales_pounds] #need existing list for this to work
print('list of sales in dolars:' +str(sales_dol))

list of sales in dolars:[375.0, 500.0, 625.0, 750.0, 150.0, 425.0]

In [53]:
conditional_sale = [sale *1.25 if sale > 150 else sale *1.15 for sale in sales_pounds]
conditional_sale

[375.0, 500.0, 625.0, 750.0, 138.0, 425.0]

## Group Function Activity

In [7]:
sentence = 'A man knocked on my door and asked for a small donation towards the local swimming pool so I decided to '
#print no of iterations
#sentence until you have tallied 1M

In [8]:
vowel_count = 0
iteration_count = 0

while True:
    iteration_count +=1
    for character in sentence:
        if character in 'a' 'e' 'i' 'o' 'u':
            vowel_count +=1
    if vowel_count >= 100000:
        break 
        
print('iterations: {}'.format(iteration_count))
print('Vowels:{}'.format(vowel_count))

iterations: 3334
Vowels:100020

In [9]:
pwd

'C:\\Users\\Surlli01\\OneDrive - TMF Group\\Desktop\\Surabhi\\Data Bootcamp - Python\\df_programming_basics-main\\df_programming_basics-main\\python-foundations'

##  Working through a dataset with all our commands

In [46]:
with open ('coffee-preferences.csv', 'r') as f:
    lines = f.readlines()

In [12]:
type(lines)

list

In [47]:
for l in lines:
    print(l)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,

In [48]:
cleaned_lines = []
for line in lines:
    cleaned_lines.append(line.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [58]:
header = cleaned_lines[0]
data1 = cleaned_lines[1:]
header
data1

['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [50]:
data1 = [i.split(',') for i in data]
header = header.split(',')

AttributeError: 'list' object has no attribute 'split'

In [51]:
data1

['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [32]:
header.remove('Timestamp')

In [63]:
header
data1

[['4', '3', '', '', '5', '5', ''],
 ['5', '3', '', '', '3', '', '5'],
 ['5', '5', '3', '2', '1', '1', '1'],
 ['5', '2', '', '', '3', '2', '3'],
 ['4', '2', '4', '', '4', '4', ''],
 ['3', '3', '3', '1', '', '', '3'],
 ['', '5', '', '', '', '', ''],
 ['', '2', '', '', '', '', '2'],
 ['', '3', '', '', '', '', '4'],
 ['5', '4', '5', '2', '5', '4', '1'],
 ['', '3', '', '', '', '', ''],
 ['4', '3', '5', '', '', '', ''],
 ['4', '2', '2', '', '5', '4', '3'],
 ['4', '3', '', '', '', '', '5'],
 ['4', '3', '2', '2', '4', '3', '2'],
 ['', '3', '', '', '4', '', ''],
 ['2', '5', '', '', '3', '3', '3'],
 ['3', '2', '', '', '4', '3', ''],
 ['4', '3', '3', '3', '4', '4', '3'],
 ['', '', '', '', '4', '', '']]

In [61]:
data1 = [i[0:] for i in data]

In [62]:
data1

[['4', '3', '', '', '5', '5', ''],
 ['5', '3', '', '', '3', '', '5'],
 ['5', '5', '3', '2', '1', '1', '1'],
 ['5', '2', '', '', '3', '2', '3'],
 ['4', '2', '4', '', '4', '4', ''],
 ['3', '3', '3', '1', '', '', '3'],
 ['', '5', '', '', '', '', ''],
 ['', '2', '', '', '', '', '2'],
 ['', '3', '', '', '', '', '4'],
 ['5', '4', '5', '2', '5', '4', '1'],
 ['', '3', '', '', '', '', ''],
 ['4', '3', '5', '', '', '', ''],
 ['4', '2', '2', '', '5', '4', '3'],
 ['4', '3', '', '', '', '', '5'],
 ['4', '3', '2', '2', '4', '3', '2'],
 ['', '3', '', '', '4', '', ''],
 ['2', '5', '', '', '3', '3', '3'],
 ['3', '2', '', '', '4', '3', ''],
 ['4', '3', '3', '3', '4', '4', '3'],
 ['', '', '', '', '4', '', '']]

In [64]:
new_data = []
for item in data:
    new_line=[]
    for i in item:
        if len(i) >1:
            new_line.append(i)
        else:
            try:
                new_line.append(float(i))
            except:
                new_line.append(None) # None is a special value in python that means 'Not There'
    new_data.append(new_line)
    
new_data

[[4.0, 3.0, None, None, 5.0, 5.0, None],
 [5.0, 3.0, None, None, 3.0, None, 5.0],
 [5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 [5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 [4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 [3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 [None, 5.0, None, None, None, None, None],
 [None, 2.0, None, None, None, None, 2.0],
 [None, 3.0, None, None, None, None, 4.0],
 [5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 [None, 3.0, None, None, None, None, None],
 [4.0, 3.0, 5.0, None, None, None, None],
 [4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 [4.0, 3.0, None, None, None, None, 5.0],
 [4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 [None, 3.0, None, None, 4.0, None, None],
 [2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 [3.0, 2.0, None, None, 4.0, 3.0, None],
 [4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 [None, None, None, None, 4.0, None, None]]